<a href="/users/home">Home</a> > <a href="/routines">Routines</a> > <a href="/routines/<%= @routine.id %>"><%= @routine.name %></a> > Edit

<h1>Edit Routine</h1>

<form action="/routines/<%= @routine.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="name" value="<%= @routine.name %>" required><br>
  Times per Week: <input type="number" name="times_per_week" value="<%= @routine.times_per_week %>" min=0><br>

  <h3>Edit Exercise Information</h3>
  Add an Existing Exercise?
  <br>
  <% @exercises.each do |exercise| %>
    <input type="checkbox" name="exercise_ids[]" id="<%= exercise.id %>"
           value="<%= exercise.id %>" <%='checked' if @routine.exercises.include?(exercise) %>><%= exercise.name %>
    </input>
    <br>
  <% end %>

  <br>
  ...and/or Create a New Exercise <br>
  Name: <input type="text" name="exercises[][name]"><br>
  Exercise Type: <input type="text" name="exercises[][exercise_type]"><br>
  Description: <textarea type="text" name="exercises[][description]"></textarea><br>
  No. of Sets: <input type="number" name="exercises[][sets]"min=0><br>
  No. of Reps: <input type="number" name="exercises[][reps]"min=0><br>

  <br>
  <input type="submit" value="Edit Routine">
</form>
