<a href="/users/home">Home</a> > <a href="/routines">Routines</a> > <%= @routine.name %>

<h1><%= @routine.name %></h1>

<strong>Times per Week: </strong><%= @routine.times_per_week %>

<br><br>

<h3>List of Exercises</h3>
<% @exercises.each do |exercise| %>
  <a style="margin-top: 0.15em;" href="/exercises/<%= exercise.id %>"><strong><%= exercise.name %></strong></a><br>
<% end %>

<% if @routine.exercises.empty? %>
  <strong>No Exercises Yet! Edit the Routine to Add an Exercise!</strong>
<% end %>

<br>

<div class="crud_options">
  <a class="edit_button" href="/routines/<%= @routine.id %>/edit">Edit Routine</a>


  <form action="/routines/<%= @routine.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input class="delete_button" type="submit" value="Delete Routine">
  </form>
</div>
