<a href="/users/home">Home</a> > <a href="/routines">Routines</a> > <%= @routine.name %>

<h1><%= @routine.name %></h1>

<strong>Times per Week: </strong><%= @routine.times_per_week %>

<br><br>

<h3>List of Exercises</h3>
<% @exercises.each do |exercise| %>
  <a href="/exercises/<%= exercise.id %>"><%= exercise.name %></a><br>
<% end %>


<br>

<a href="/routines/<%= @routine.id %>/edit">Edit Routine</a>


<form action="/routines/<%= @routine.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Routine">
</form>
