<a href="/users/home">Home</a> > <a href="/routines">Routines</a> > <a href="/routines/<%= @routine.id %>"><%= @routine.name %></a> > <%= @exercise.name %>

<h1><%= @exercise.name %></h1>

<strong>Exercise Type: </strong><%= @exercise.exercise_type %> <br>
<strong>Description: </strong><%= @exercise.description %> <br>

<strong>Sets: </strong><%= @exercise.sets %> <br>
<strong>Reps: </strong><%= @exercise.sets %> <br>


<a href="/exercises/<%= @exercise.id %>/edit">Edit Exercise</a>


<form action="/exercises/<%= @exercise.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Exercise">
</form>
